// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import 'components/color';
$primary-color: color("red", "base");
$secondary-color: color("blue", "base");

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

// Data table
@import 'ember-data-table';

// ember-selectize
.selectize-control.multi .selectize-input [data-value] {
    &, &.item.active {
        text-shadow: inherit;
        background-image: none;
        filter: none;
        border: none;
    }

    &.item.active {
        background-color: $primary-color;
    }

    a {
        border: none;
        padding: 1px 0 0 0;
    }

    @extend .btn;
}

// Custom color settings go here
