<div class="container">
  <h1>Editing page</h1>

  {{md-input label="Title of the article" value=model.title}}

  {{md-textarea label="Body of the article" value=model.body}}

  {{md-btn action="save" text="Save"}}
</div>
