<div class="container">
  <h1>{{model.title}}</h1>

  <div class="row">
    <div class="col s12 m9">
      {{markdown-to-html model.body}}
    </div>
    <div class="col s12 m3">
      {{link-to "Edit" "articles.show.edit" model=model classNames="btn"}}
    </div>
  </div>

  {{link-to "Back to index" "articles"}}
</div>
